.header_body {
  background: #6a875b;
}
.header_high {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 70px;
  align-items: center;
  color: white;
}

.text {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: clamp(0.75rem, 0.667rem + 0.37vw, 1rem);
  font-weight: 600;
}

.logoText {
  font-size: clamp(1rem, 0.667rem + 1.48vw, 2rem);
}

.icon {
  width: clamp(1rem, 0.708rem + 1.3vw, 1.875rem);
}

.logo {
  display: none;
  width: clamp(2.5rem, 0.948rem + 6.9vw, 3.75rem);
}

@media (max-width: 1040px) {
  .header_high {
    gap: 50px;
  }
}

@media (max-width: 965px) {
  .header_high {
    gap: 30px;
  }
  .text {
    gap: 5px;
  }
}

@media (max-width: 845px) {
  .hidden {
    display: none;
  }
}

@media (max-width: 710px) {
  .iconHidden {
    display: none;
  }
}

@media (max-width: 650px) {
  .logoTextHidden {
    display: none;
  }
  .logo {
    display: block;
  }
}
